.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 50px;
}
.cartitems{
    margin-top:50px ;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.cartitems-remove-icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}