.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin: 50px;
}
.cartitems{
    margin-top:50px ;
    display: grid;
    grid-column: auto;
    gap: 30px;
}
.cartitems-remove-icon{
    width: 25px;
    height: 25px;
}