.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
  }
  
  .navbar .nav-logo {
    display: flex;
    align-items: start;
  }
  .nav-logo {
    padding: 10px;
  }
  .navbar .nav-logo img {
    margin-right: 10px;
  }
  
  .navbar .nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar .nav-menu li {
    margin-right: 20px;
    position: relative;
  }
  
  .navbar .nav-menu li a {
    text-decoration: none;
    color: #333;
  }
  
  .navbar .nav-menu li hr {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #10cb74;
    border: none;
  }
  
  .navbar img {
    margin-left: 20px;
    cursor: pointer;
  }
  .icon{
    display: none;
  }
  .saveLater{
    height: 30px;
    align-items: center;
  }
  @media (max-width: 800px) {
    .nav-name{
      display: none;
    }
    .icon{
      display: block;
    }
    .big{
      display: none;
    }
  }