.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
  }
  
.nav-logo {
    display: flex;
    padding: 10px;
  }

.nav-logo img {
    margin-right: 10px;
  }
.nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
  }
  
.nav-menu li {
    margin-right: 20px;
    position: relative;
    cursor: pointer;
  }
  
.nav-menu li a {
    text-decoration: none;
    color: #333;
  }
  
.nav-menu li hr {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 80%;
    height: 2px;
    background-color: #10cb74;
    border: none;
  }
  

  .icon{
    display: none;
  }
  .saveLater{
    height: 30px;
    align-items: center;
  }
  @media (max-width: 800px) {
    .navbar{
      padding: 0px;
      padding-top: 5px;
      margin: 0px;
      width: 80%;
    }
    .nav-logo{
      padding: 0px;
    }
    .nav-name{
      display: none;
    }
    .icon{
      display: flex;
    }
    .big{
      display: none;
    }
.nav-menu li {
      margin: 2px;
      margin-right: 10px;
    }
  }