.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 100px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo img{
    width: 100px;
}
.footer-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
@media (max-width: 800px) {
    .footer{
        margin: 0px;
        margin-left: 10px;
        margin-top: 20px;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    .footer-logo{
        display: flex;
        justify-content: center;
    }
    .footer-logo img{
        display: none;
    }
    .footer-copyright p{
        justify-content: center;
    }
}