.hero{
    height: 10vh;
    background: #10cb74;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 800px) {
    .hero{
        padding: 20px;
        width: 80%;
    }
}