.list-recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
}
.listrecipes-format-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.listrecipes-format{
    align-items: center;
    font-weight: 500;
}
.listrecipe-recipe-icon{
    width: 100px;
}
.listrecipes-format p{
    font-weight: 500;
    
}
@media (max-width: 800px) {
    .list-recipe{
        padding: 10px;
        margin: 0px;
        width: 90%;
    }
    .hr{
        width: 80%;
    }
}